/* Removes default spacing and ensures padding and border are included in every instance of width and height */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Assigns a background color to the whole page */
body {
    background-color: #d9dcd6;
}

/* ".header" was changed for "header" */
/* Sets color, font, and spacing for the navigation bar */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Aligns company name vertically in the navigation bar */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Gives a different color to a select portion of the company name in the nav bar */
header h1 .seo {
    color: #d9dcd6;
}

/* Places links in the nav bar to the right of the header, as well as font styling and spacing */
header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Removes bullet points of nav bar links */
header div ul {
    list-style-type: none;
}

/* Aligns links horizontally in nav bar */
header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Removes underline and sets colors for the links in the navigation bar */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Every paragraph will follow this font size */
p {
    font-size: 16px;
}

/* Populates and styles the hero section */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Image will be placed on the left of its section */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Image will be placed on the right of its section */
.float-right {
    float: right;
    margin-left: 25px;
}

/* From line 88 to 144, I removed unnecessary repetitive styling due to an error in attribute "class" usage */
/* Situates the page's left-side content */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Determines each content section's spacing, font, and color */
.content-info {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Styles each content section's img to be properly sized */
.content-info img {
    max-height: 200px;
}

/* Properly-spaces and sizes the heading of each content displayed */
.content-info h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Situates the page's right side content */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Determines each benefit's spacing and color */
.benefit-info {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Aligns and properly spaces the heading of each benefit displayed */
.benefit-info h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Styles each benefit's icon to be properly centered and spaced */
.benefit-info img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* ".footer" was changed for "footer" */
/* Properly styles the footer of the page */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Gives the footer's heading an appropriate size */
footer h2 {
    font-size: 20px;
}
